.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5vh;
}

.main,
.sidebar {
  border: 5px solid;
  border-radius: 25px;
  padding: 15px;
  background-color: #fff;
}

.main {
  width: 75vw;
  height: 150vh;
  border-color: #d3bfbf;
}

.text {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 20px;
}

.sidebar {
  width: 8vw;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  left: 4vw;
  border-color: #fff;
  background-color: #d3bfbf;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.numeral {
  font-size: x-large;
}

.numeral a {
  text-decoration: none;
  color: #000000;
}

.numeral a:hover {
  color: #747474;
}

body {
  background-color: #e6dbdb;
  height: 100vh;
}

h1,
h2,
.numeral {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
