.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main,
.sidebar {
  border: 5px solid;
  border-radius: 25px;
  padding: 15px;
  background-color: #fff;
}

.main {
  width: 78vw;
  /* height: 150vh; */
  border-color: #d3bfbf;
}

.text {
  padding-left: 40px;
  padding-right: 20px;
}

.sidebar {
  width: 6vw;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  left: 3.5vw;
  border-color: #fff;
  background-color: #d3bfbf;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.numeral {
  font-size: xx-large;
}

.numeral a {
  text-decoration: none;
  color: #000000;
}

.numeral a:hover {
  color: #747474;
}

body {
  background-color: #e6dbdb;
  height: 100vh;
}

h1,
.numeral {
  padding-top: 20px;
}

h2 {
  padding-top: 60px;
}

li {
  padding-bottom: 10px;
}

.name {
  font-style: italic;
  padding-bottom: 20px;
}

h3 {
  padding-top: 20px;
}

table,
th,
td {
  border: 3px solid #d3bfbf;
  border-collapse: collapse;
}

td {
  padding: 15px;
}

table {
  width: 100%;
}

.pad {
  padding-bottom: 20px;
}

.left-pad {
  padding-left: 30px;
}

.right-pad {
  padding-right: 30px;
}

.top-pad {
  padding-top: 20x;
}

.col {
  width: 31%;
  height: 50px;
}

.image-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
}

.col-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-box-item {
  width: 32%;
}

th {
  background-color: #e6dbdb;
}
